<div class="container">
  <h1>Users List</h1>
  <a href="http://localhost:4200/addUser" class="badge badge-primary p-2 px-3">New User</a>
  <table class="table table-striped mt-2">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th></th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tr *ngFor="let user of users" >
      <td (click)="onSelect(user)">{{ user.id}}</td>
      <td><img src="{{user.img}}" height="100" width="100" alt="" srcset=""></td>       
      <td>{{ user.name}}</td>
      <td>{{ user.email}}</td>
      <td><button  class="btn btn-danger" (click)="delete(user)">delete</button></td>
      <td><button  class="btn btn-warning" (click)="edit(user)">edit</button></td>
    </tr>
  </table>
</div>
<!-- Footer -->
<footer class="page-footer font-small text-white bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Réalisé par : Hamzaoui Zakarya
       ENSET MOHAMMEDIA
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->